<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="importStockSync" translate="label" sortOrder="100">
            <label>Import Stock Sync</label>
        </tab>
        <section id="importStockSync_settings" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>importStockSync</tab>
            <resource>Strekoza_ImportStockSync::config</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>
                <field id="path_internal_file" type="text" translate="label comment" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="10">
                    <label>Full Server Path to Import Stock file</label>
                </field>
            </group>
        </section>
    </system>
</config>
